* {
  font-family: Helvetica, Arial, sans-serif;
  /* background-color: rgb(234, 234, 234); */
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

.title__form {
  color: #fff;
}
  
@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}  


button {
  padding: 0.5rem;
  margin-top: 0.5rem;
  background-color: #04AA6D;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin-left: 5rem;
}

input {
  background-color: white;
  border-radius: 5px;
  border: 1px solid rgb(97, 32, 158);
  color: black;
  font-size: 1.2rem;
  outline: none;
  padding: 10px 15px;
  width: 100%;
}

h1 {
  margin: 0;
  font-size: 2rem;
  margin-right: 2rem;
}

h2 {
  font-size: 1.5rem;
}


h3 {
  font-size: 3rem;
  margin-bottom: 5px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  align-content: center;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  height: 0%;  
  justify-content: center;
  margin-bottom: 20px;
  margin-right: 20px;
  overflow: hidden;
}

.card p {
  background-color: white;
  flex: 1;
  font-size: 1.5rem;
  margin-top: 5px;
  padding: 5px 20px 0px 20px;
  text-align: center;
}

.card img {
  width: 100%;
}

.center-form {
  display: flex;
  margin-top: 2.5rem;
  justify-content: center;

}

.custom__height {
  height: 250px;
}

@media screen and (max-width: 600px) {
  .center-form {
    display: block;
  }
}